@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sono&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.title {
  color: white;
  font-size: 24px
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.inputItems {
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.inputItem {
  margin-top: 20px;
  width: 100%;
}